*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.5s;
}
#container {
    width: 100vw;
    min-height: 100vh;
}
section {
    width: 100vw;
    height: 100vh;
}

/*========== NAV =========*/
header nav{
    position: fixed;
    height: 5rem;
}
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    height: 100%;
}
header nav ul li{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    position:sticky;
}
header nav ul li a{
    color: rgb(33, 36, 36);
}
header nav ul li:hover{
    font-size: 2rem;
    background-color: red;
    
}
header nav ul li a:hover{
    color: rgb(255, 255, 255);
}

/*========== CAROUSEL =========*/

.carousel {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.slide {
    position: absolute;
    inset: 0;
}