* {
    font-family: "Gill Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    scroll-behavior: smooth;
    transition: 0.2s;
}
:root {
    --main-color: #121212;
    --darker-main-color: #0D0D0D;
    --lighter-main-color: #27272B;
    --light-blue: #007BFF;
    --dark-blue: #08001F;
    --text-color: #FFFFFF;
}
#container {
    width: 100%;
    min-height: 100vh;
}

section {
    background-color: var(--main-color);
    width: 100%;
    min-height: 100vh;
}

button {
    cursor: pointer;
}
h1, h2, h3, p, a{
    color: var(--text-color);
}

/*========== NAV =========*/
nav{
    z-index: 3;
    background-color: var(--darker-main-color);
    position: fixed;
    width: 100vw;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1 {
    color: var(--text-color);
    font-size: 2rem;
    margin-left: 5rem;
}

nav ul {
    height: 100%;
    list-style-type: none;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem 5rem;
}

nav ul li a{
    font-size: 1.3rem;
    padding: .5rem;
    border: 0.1rem solid transparent;
    border-radius: 0.8rem;
}
nav ul li a:hover{
    border: 0.1rem solid var(--text-color);
}

/*========== HERO =========*/

.carousel {
    background: var(--carousel-gradient);
    position: relative;
    width: 100%;
    height: 92vh;
}

.slide {
    transition-delay: 0.2s;
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(25%);
}

.slide p {
    max-width: 60vw;
    position: absolute;
    font-size: 2rem;
    margin-left: 4rem;
    bottom: 10rem;
}

.slide[data-active] {
    z-index: 1;
    transition-delay: 0s;
    opacity: 1;
}

.carousel-button {
    z-index: 2;
    transition: all 0.05s;
    position: absolute;
    background: none;
    color: rgba(168, 150, 150, .3);
    top: 50%;
    transform: translateY(-50%);
    font-size: 4.5rem;
    border: none;
}

.carousel-button:hover {
    color: rgba(190, 171, 171, 0.7);
}

.carousel-button.prev {
    left: 7rem;
}

.carousel-button.next {
    right: 7rem;
}

/*========== CARROS =========*/
#cars {
    max-height: 100%;
    padding: 2rem 8rem;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}
.card {
    background-color: var(--lighter-main-color);
    width: 40rem;
    height: 20rem;
    padding: 1.5rem 2rem;
    margin: 2rem;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.card h1 {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
}
.card a {
    background-color: var(--dark-blue);
    width: auto;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 1rem;
    margin-left: auto;
    border-radius: 1rem;
}
.card a:hover {
    box-shadow: 0 0 1rem var(--dark-blue);
}

.card-description {
    width: 100%;
    height: 100%;
}
.card-description p {
    font-size: 1rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;   /* nº de linhas que você quiser */
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-description img {
    max-width: 100%;
    max-height: 10rem;
    margin-right: 1rem;
    border-radius: 0.1rem;
    float: left;
}

@media (width <= 105rem) {
    #cars{
        padding: 0;
    }
    .card {
        width: 35rem;
    }
}
@media (width <= 80rem) {
    .card {
        align-items: center;
        width: 30rem;
    }
    .card a {
        margin-left: 0;
    }
    .card-description {
        display: flex;
        justify-content: center;
    }
    .card-description img {
        margin-right: 0;
    }
    .card-description p {
        display: none;
    }
}
@media (width <= 68rem) {
    .card {
        width: 20rem;
    }
}

/*========== SOBRE =========*/
#about {
    padding: 4rem 18vw;
    display: flex;
    gap: 6rem;
}
.about-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-description h1 {
    z-index: 1;
    font-size: 5rem;
    text-transform: uppercase;
}
.about-description p {
    z-index: 1;
    font-size: 1.7rem;
}

@media (width <= 96rem) {
    #about {
        padding: 4rem 10vw;
    }
}
@media (width <= 80rem) {
    #about {
        background-image: url("/src/assets/AboutImage.jpg");
        background-size: cover;
        backdrop-filter: brightness(20%);
    }
    #about::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.7);
    }
    #about img {
        display: none;
    }
}
@media (width <= 40rem) {
    #about::before {
       background: rgba(0, 0, 0, 0.8);
    }
    .about-description h1 {
        font-size: 3rem;
    }
    .about-description p {
        font-size: 1.5rem;
    }
}

/*========= FOOTER =========*/

footer {
    color: var(--text-color);
    background-color: var(--dark-blue);
    position: absolute;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer p {
    position: relative;
    right: 8vw;
    text-align: end;
}